* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h3{
  font-family: 'Staatliches', cursive;
}
/* p {
  font-family: 'Josefin', sans-serif;
} */

.intro-logo {
  font-size: 5em;
  color: silver;
}
.siteTitle {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
}
.motto {
  color: grey;
  font-style: italic;
  letter-spacing: .3rem;
  margin: 0 .2em;
}
.motto:hover {
  color: #fff;
}
.siteName {
  margin: 1em .5em;
}
.intro {
  background-color: #2b2b28;
  display: flex;
  justify-content: center;
}

/* Navigation */

.nav-bar {
     background: black;
     border: 1px solid rgba(0, 0, 0, 0.2);
     padding-bottom: 10px;
  }
  .nav-links,
  .logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
  }

  .logo {
    display: inline-block;
    font-size: 35px;
    margin-top: 10px;
    margin-left: 20px;
  }
  .logo:hover {
    color: #fff;
  }
  .logo-sample{
    display: inline-block;
    font-size: 10em;
    margin-top: 10px;
    margin-left: 20px;
    color: #fff;
  }

  .main-nav {
    display: none;
    list-style-type: none;
  }

  .nav-links {
    font-family: 'Josefin', sans-serif;
    color: #eee;
  }
  .nav-links:hover {
    color: #FFA500;
  }
  .main-nav li {
    text-align: center;
    margin: 15px auto;
  }

  .navbar-toggle {
    position: absolute;
    top: 4.5em;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
  }

  .popUp {
    display: block;
  }

 #checkAds {
   padding: 1em 1em;
   background-color: tomato;
   color: #fff;
   text-align: center;
 }
li.active a{
  border-bottom: 5px solid tomato;
  color: white;
  /* padding: .5em .5em; */
}

/* Main Section */

h2 {
  margin-top: 2em!important;
  text-align: center;
  border: 2px solid green;
}


/* .container {
  display: grid;
  grid-gap: 1em;
} */
.grid-item {
  padding: 2em 2em;
  background-color: #fff;

}

.fas {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 20%;
  margin: 1em 0;
}

.fa:hover {
    opacity: 0.7;
}
/* Social */

.fa-facebook {
 background: #3B5998;
 color: white;

}
.fa-linkedin {
  background: #007bb5;
  color: white;
 
}

.fa-youtube {
  background: #bb0000;
  color: white;

}
.forecast {
  display: none;
}
/* Aricle  */
.article-box {
  border: 1px solid black;
  background-image: linear-gradient(0deg, #fedc97, transparent);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* max-width: 320px; */
  margin-top: 1em;
  padding: 2em 2em;
}
.article-box p {
  margin: .5em 0;
  text-align: justify;
}
.article-box img {
  width: 100%;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.33);
  order: -1;
  margin: 1em auto;
}
/* Hero */
.hero-section {
  position: relative;
}
.hero-image img{
 width:100%;
 margin: 1em 0;
}

/* Box  */
.box {
  max-width: 200px;
  position: absolute;
  top:2em;
  margin-left: 1em;
  padding: 1em 1em;
  border-radius: 30px;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.33);
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5);
}
.box:hover {
  transform: scale(1.04);
}
.box .summary-title {
  border-bottom: 5px solid lightgreen;
  font-family: 'Josefin', sans-serif;
  color: #f1f1f1;
}
.box p{
  text-align: center;
  margin: .2em 0;
  color: #f1f1f1;
}

/* Contact */
.contact-info img{
  display: none;
}
.contact-info {
  border: 1px solid black;
  border-radius: 10px;
  margin: 1em 0;
  text-align: center;
  background-image: linear-gradient(0deg, #ffaf87, transparent);
}
.contact-address {
  margin: 1em 0;
}

/* Responsive gallery */
img {
  width:100%;
  object-fit: cover;
}
.gallery {
  display: grid;
  max-width: 100%;
}
.gallery-item {
  margin: 0;
  position: relative;
}
img[data-src] {
 filter: blur(.2em);
}
img {
 filter: blur(0em);
 transition: filter 1s;
}
.card-text {
 width: 100%;
 position: absolute;
 z-index: 1;
 bottom: 0;
 background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}
.title-text {
  text-align: center;
  color: #fff;
  letter-spacing: .5rem;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 1em 0;
}


/* Storm Center Page - Form  */
.report-center {
  border: 1px solid black;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.33); 
  background:#f4f4f4;
  border-radius: 10px;
  max-width: 100%;
}
label  {
  display: block;
   padding: 1em 0;
   margin: 0 2em;
}
input {
   padding: .5em .5em;
   border-radius: 4px;
   background-color: linen;
   color: #333;
   border:none;
}
.left img {
  display: none;
}

.flexly {
  display: flex;
  align-items: center;
}
.radio-btn {
  margin: 0;
}
.danger {
  display: flex;
  justify-content:start;
  align-items: center;
  margin:0 2em;
}
#ratingValue {
  background-color:linen;
  padding: .5em;
}
#stormRegion {
   padding: .5em .5em;
   background-color: linen;
}
.contactTitle {
  text-align: center;
  border-bottom: 5px solid  rgba(49, 196, 190, 0.75);;
  width: 50%;
  margin: .5em auto;
}
#comment {
  margin: 0 2em;
} 
.button {
  width: 150px;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 30px;
  text-align:center;
  border: none;
  border-radius: 50px;
 }

 .button1 {
   background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
   box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
 } 

.text-area {
  margin: 1em 2em;
}


/* Home Page */

article >img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.home-town{
  width: 100%;
}

.motto {
  font-style: italic;
}
p {
  margin: .7em 0;
}
article {
  max-width: 100%;
  background-color: #eee;
  border: 1px solid #bbb;
  margin: .5em auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
/* Footer */
footer {
     background-image: linear-gradient(180deg, #a2eae2, transparent);
     padding: 1em 2em;
 }

 .firstFooter {
     letter-spacing: 1px;
     text-align: center;
 }

  @media(min-width:768px){
      .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .main-nav {
        display: flex;
        margin-right: 30px;
      }
      .navbar-toggle {
        display: none;
      }
      .nav-links {
        margin-left: 2em;
      }
      .logo {
        margin-top: 0;
      }

      .container {
        max-width: 70%;
        margin: 2em auto;
      }

      .gallery {
        display: grid;
        grid-template-columns:repeat(3,1fr);
        width:60%;
        margin: 2em auto;
    }

    .gallery-item {
      margin:.2em .2em;
      box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.33);
    }

    .gallery-item-1 {
     grid-column: 1/3;
    }

    .gallery-item-6 {
      grid-column: 1/-1;
      grid-row: 2;
  }
  /* Storm Center- Contact */
  .report-center {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 80%;
    margin: 5em auto;
    border: 1px solid black;
     box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.33); 
    background:#f4f4f4;
    border-radius: 10px;
}
.left img {
    max-width: 100%;
    display: block;
    margin: 15em 0;
}
.left {
    grid-column: 1/2;
}
.contactTitle {
    text-align: center;
    border-bottom: 5px solid  rgba(49, 196, 190, 0.75);;
    width: 50%;
    margin: .5em auto;
    grid-column: 1/-1;
    font-family: 'Josefin', sans-serif;
    letter-spacing: 2px;
}
.email-collector {
    padding: 1em 1em;
    display: block;
}

/* Home Weather Site */
.town-images {
  width: 50%;
  display: block;
}
.home-town{
  margin: 2em auto;
  width: 70%;
  
} 
article {
  max-width: 700px;
  background-color: #eee;
  border: 1px solid #bbb;
  margin: .5em auto;
  display: flex;
  flex-wrap: wrap;
  padding: 1em 2em;
  flex-direction: row;
}
.data-info {
  width: 30%;
  padding: 1em 2em;
}
article:nth-child(even){
  flex-direction: row-reverse;
}
.motto {
  font-style: italic;
}
p {
  margin: .7em 0;
}
   }

    @media (min-width:1024px) {
      .container {
        max-width:1200px;
        margin: 0 auto;
      }
      li.active a{
        border-bottom:5px solid tomato;
        color: white;
        padding: .5em .5em;
        border-radius: 10%;
      }

      .hero-section {
        background-color: #fff;
        position: relative;
      }

      .box {
        max-width: 200px;
        position: absolute;
        top: 5em;
        margin-left: 5em;
        padding: 1.5em 1em;
        border-radius: 30px;
        box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.33);
        transition: all 0.4s ease-out;
        background: rgba(0, 0, 0, 0.5);
      }
      .box:hover {
        transform: scale(1.04);
      }
      .box .summary-title {
        border-bottom: 5px solid lightgreen;
        font-family: 'Josefin', sans-serif;
        color: #f1f1f1;
      }
      .box p{
        text-align: center;
        margin: .5em 0;
        color: #f1f1f1;
      }
      .forecast {
        display: grid;
      }
      .forecast-title {
        text-align: center;
      }
      .forecast-table {
        width: 80%;
        margin: 2em auto;
        border-collapse: collapse;
      }
      .forecast-table th {
        background-color: tomato;
        padding: .5em .5em;
        color: black;
        border: 1px solid black;
      }
      .forecast-table tr {
        background-color: #dddddd;
        text-align: center;
      }
      .forecast-table td {
        border: 1px solid black;
        padding: 1em 1em;
      }
      .forecast-image img{
        width: 50px;
        height:50px;
        color: orange;
      }
      .article-box {
        border: 1px solid black;
        display: flex;
        flex-direction: row;
        padding: 3em 3em;
        max-width: 80%;
        margin: 0 auto;
      }
      /* .article-body {
        flex-direction: row;
      } */
      .article-body p {
        margin: .5em 0;
        text-align: left;
      }
      .article-box img {
        width: 300px;
        height: 200px;
        box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.33);
        order: 1;
      }

      .contact-info {
        display: flex;
        justify-content: space-around;
        width: 80%;
        margin: 1em auto;
      }

      .contact-info img {
        display: flex;
        width: 300px;
        height: 300px;
        margin:2em 0;
      }
      .contact-info .contact-address {
        margin-top: 7em;
      }
/* Responsive Gallery */
/* .gallery {
display:grid;
grid-template-columns: repeat(8,1fr);
width: 60%;
margin: 4em auto;
}
.gallery-item {
margin: .2em .2em;
position: relative;
transition: all 0.4s ease-out;
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.33);
}
.gallery-item:hover {
transform: scale(1.04);
}
img {
width: 100%;
height: 100%;
object-fit: cover;
}
.gallery-item-1 {
grid-column: 1 /4;
}
.gallery-item-2 {
grid-column: 4 /6;
grid-row: 1/ 4;
}
.gallery-item-3 {
grid-column: 6 / 9;
grid-row: 1/4;
}
.gallery-item-4 {
grid-column: 1 / 4;
grid-row: 3 / 5;
}
.gallery-item-5 {
grid-column:1/4;
grid-row:2/3;
}
.gallery-item-6 {
grid-column:4/-1;
grid-row: 4/5;
} */
/* Storm Center */
.report-center {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  max-width: 60%;
  margin: 5em auto;
  border: 1px solid black;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.33); 
  background:#f4f4f4;
  border-radius: 10px;
}
.left img{
  max-width: 100%;
}
.left {
  grid-column: 1/2;
}
.contactTitle {
  text-align: center;
  border-bottom: 5px solid  rgba(49, 196, 190, 0.75);;
  width: 50%;
  margin: .5em auto;
  grid-column: 1/-1;
}
.email-collector {
  padding: 1em 1em;
  display: block;
}
label  {
  display: block;
  padding: 1em 0;
  margin: 0 2em;
}
input {
  padding: .5em .5em;
  border-radius: 4px;
  background-color: linen;
  color: #333;
  border:none;
}
.radio-btn {
  margin: 0;
}
.danger {
  margin:0 2em;
}
#yes,#no,#mayBe {
  margin: 0 .4em;
}

#ratingValue {
background-color:linen;
padding: .5em;
}
#stormRegion {
  padding: .5em .5em;
  background-color: linen;
}
.flexly {
  display: flex;
  align-items: center;
}
.text-area {
  margin: 1em 2em;
}
.button {
  width: 150px;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 30px;
  text-align:center;
  border: none;
  border-radius: 50px;
}
.button1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
} 

}
