*{
    margin:0;
}

img {
    display: block;
    width: 50%;
    margin: .5em auto;
}
h1 {
    text-align: center;
    margin: .4em 0;
}
section {
    border: 3px solid #333;
    max-width: 100%;
    background-color: lightsteelblue;
    margin: .5em .5em;
}
footer {
    text-align: center;
}
.prophet-title {
    margin:.5em 0;
}
.prophet-title,
.prophet-info,
.prophet-infos {
    text-align: center;
}
@media (min-width:768px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    s
    .prophet-title {
        margin:.5em 0;
    }
    .prophet-title,
    .prophet-info,
    .prophet-infos {
        text-align: center;
    }
}
@media (min-width:1024px) {
    .cards {
        display: grid;
        grid-template-columns:repeat(4,1fr);
    }
    
    section {
        max-width: 100%;
        background-color: lightsteelblue;
        margin: .5em .5em;
    }
  
    .prophet-title {
        margin:.5em 0;
    }
    .prophet-title,
    .prophet-info,
    .prophet-infos {
        text-align: center;
    }
    
}
